@model List<GetCarQueryResult>
@{
    Layout = "~/Views/Layout/Index.cshtml";
}



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4">Arabalar</h2>
                <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Araba Listesi</span>
                    <a href="/Car/Create" class="btn btn-info">Yeni Araba Ekle</a>
                </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Resim</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Year</th>
                                        <th>Color</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.CarID</td>
                                            <td><img src="@item.ImageUrl" style="width:150px;height:100px;"></td>
                                            <td>@item.CarBrand</td>
                                            <td>@item.Model</td>
                                            <td>@item.Year</td>
                                            <td>@item.Color</td>
                                            <td>
                                                <a href="/Car/UpdateCar/@item.CarID" class="btn btn-primary">Güncelle</a>
                                                <a href="/Car/RemoveCar/@item.CarID" class="btn btn-danger ml-2">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                   
                              
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
